<!DOCTYPE html>
<html>
  <head>
    <title>LivePolls</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href=<%= image_url('favicon.png') %> type="image/png">


    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.computerUrl = "<%= image_url('computer.png') %>";
        window.remoterUrl = "<%= image_url('Interactive_remote_meetings.png') %>";
        window.distanceUrl = "<%= image_url('distance-learning.png') %>";
        window.presentationUrl = "<%= image_url('online-presentation.png') %>";
        
        window.alllogosUrl = "<%= image_url('all-logos.png') %>";

        window.applelogoUrl = "<%= image_url('apple-logo.png') %>";
        window.attlogoUrl = "<%= image_url('att-logo.png') %>";
        window.cocacolalogoUrl = "<%= image_url('coca-cola-logo.png') %>";
        window.distancelearningUrl = "<%= image_url('distance-learning.png') %>";
        window.googlelogoUrl = "<%= image_url('google-logo.png') %>";
        window.hplogoUrl = "<%= image_url('hp-logo.png') %>";
        window.jpmorganlogoUrl = "<%= image_url('jp-morgan-logo.png') %>";
        window.mlynchlogoUrl = "<%= image_url('m-lynch-logo.png') %>";
        window.microsoftlogoUrl = "<%= image_url('microsoft-logo.png') %>";
        window.navylogoUrl = "<%= image_url('navy-logo.png') %>";
        window.spotifylogoUrl = "<%= image_url('spotify-logo.png') %>";
        window.targetlogoUrl = "<%= image_url('target-logo.png') %>";
        window.verizonlogoUrl = "<%= image_url('verizon-logo.png') %>";

        
        window.powerpointUrl = "<%= image_url('powerpoint.jpg') %>";
        window.keynoteUrl = "<%= image_url('keynote.jpg') %>";
        window.googleslidesUrl = "<%= image_url('google-slides.jpg') %>";

        window.signUpUrl = "<%= image_url('sign-up.svg') %>";
        
        window.hamburgerUrl = "<%= image_url('hamburger-menu.png') %>";

        window.favicon = "<%= image_url('favicon.png') %>";
        
        window.demo_livepolls = "<%= image_url('demo_livepolls.gif') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
