<!DOCTYPE html>
<html>
  <head>
    <title>LivePolls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.computerUrl = "<%= image_url('computer.png') %>";
        window.remoterUrl = "<%= image_url('Interactive_remote_meetings.png') %>";
        window.distanceUrl = "<%= image_url('distance-learning.png') %>";
        window.presentationUrl = "<%= image_url('online-presentation.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
